<div class="container">
  <h1>Restaurants</h1>
  
  <% @restaurants.each do |restaurant| %>
    <div class="card-product my-5">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos ">
            <h2><%= link_to restaurant.name, restaurant_path(restaurant)  %></h2>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.category %></p>
        </div>
    </div>
  <% end  %>
</div>
